@model ECARTemplate.Models.Credencial
@{
    ViewData["Title"] = "Detalles de Credencial";
}
<a asp-action="Index" class="btn btn-secondary ms-2">Volver a Credenciales</a>
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">Detalles de Credencial</h1>

            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Información Credencial</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FechaYHora)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaYHora)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UsuarioRegistro)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UsuarioRegistro)
                        </dd>
                        <hr />
                        <hr />
                         <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CodigoEquipo)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.CodigoEquipo)
                        </dd>
                       
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CodigoUsuarioEcar)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.CodigoUsuarioEcar)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NombreUsuario)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NombreUsuario)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Perfil)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Perfil)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Usuario)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Usuario)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Contrasena)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Contrasena)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Estado)
                        </dd>
                       
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>