@model ECARTemplate.Models.Empleado
@{
    ViewData["Title"] = "Detalles del Empleado";
}
<a asp-action="Index" class="btn btn-secondary ms-2">Volver a Empleados</a>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4 text-center mb-4">Detalles del Empleado</h1>

            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Empleado</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Fecha)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Fecha)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UsuarioRegistro)
                        </dt>
                        <br /> 
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UsuarioRegistro)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CodigoEmpleadoEcar)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.CodigoEmpleadoEcar)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NombreEmpleado)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NombreEmpleado)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Cargo)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Cargo)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Area)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Area)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.SubArea)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.SubArea)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Nota)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Nota)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Estado)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FirmaBpm)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FirmaBpm)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>